@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-purple: #c205e8;
  --clr-purple: #620175;
  --clr-charcoal-black: #171717;
  --clr-text-grey: #aba9a9;
  --clr-green: #51b045;
  --clr-red: #d42626;
}

body {
  color: white;
}

.flex-items-center {
  @apply flex items-center;
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-spacing: 20px;
  --slide-size: 33.33%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 20px;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(var(--slide-size) - var(--slide-spacing));
  min-width: 0;
  padding-left: var(--slide-spacing);
}
