@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-blue: #8e76ef;
  --clr-blue: #3912d2;
  --clr-blackk: #353535;
  --clr-charcoal-black: #171717;
  --clr-text-grey: #aba9a9;
  --clr-green: #51b045;
  --clr-red: #d42626;
  --clr-cerulean-blue: #2f49d1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--clr-blackk);
}

.embla {
  width: 100%;
  margin: auto;
  --slide-spacing: 0px;
  --slide-count: 3;
  --slide-size: calc(
    (100% - (var(--slide-count) + 1) * var(--slide-spacing)) /
      var(--slide-count)
  );
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  display: flex;
  gap: var(--slide-spacing);
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(var(--slide-size));
  min-width: 0;
  margin-right: var(--slide-spacing);
}

.satiscfication {
  --progress: 0;
  --w: 240px;
  --cW: 30px;
  --tr: all 1.3s linear;

  position: relative;
  display: block;
  width: var(--w);
  height: calc(var(--w) * 0.66);
  overflow: hidden;
}

.satiscfication:before {
  position: absolute;
  content: "";
  width: var(--cW);
  height: var(--cW);
  background: white;
  border-radius: 9999px;
  bottom: 0;
  left: 0;
  transform-origin: calc(var(--w) * 0.5) var(--cW);
  transform: rotate(calc(180deg * var(--progress)));
  transition: var(--tr);
  z-index: 2;
}

.satiscfication:after {
  position: absolute;
  content: "";
  width: calc(var(--w) - var(--cW) * 0.5);
  height: calc(var(--w) - var(--cW) * 0.5);
  top: calc(100% - var(--w) * 0.5 + calc(var(--cW) * 0.25));
  left: calc(var(--cW) * 0.25);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  border-radius: 9999px;
  z-index: 1;
  box-shadow: inset 0 0 0 10px yellow;
  transform: rotate(calc(-180deg * (1 - var(--progress))));
  transition: var(--tr);
}

.satiscfication:hover {
  --progress: 0.905;
}

/* STEPS COMPLETED */
.steps-completed {
  --w: 175px;
  --h: 6px;
  --steps: 5;
  --steps-completed: 0;
  --dash-clr: var(--clr-charcoal-black);
  --main-clr: var(--clr-blackk);
  --fill-clr: linear-gradient(
    to right,
    var(--clr-light-blue),
    var(--clr-blue) calc(var(--w) / var(--steps) * var(--steps-completed))
  );
  --dash-w: 3px;
  --base-dur: 0.17s;

  position: relative;
  width: var(--w);
  height: var(--h);
  background: var(--main-clr);
  border-radius: 9999px;
}

.steps-completed:before {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--w) / var(--steps));
  width: var(--dash-w);
  height: 100%;
  background: var(--dash-clr);
  box-shadow: calc(var(--w) / var(--steps) * 1) 0 0 0 var(--dash-clr),
    calc(var(--w) / var(--steps) * 2) 0 0 0 var(--dash-clr),
    calc(var(--w) / var(--steps) * 3) 0 0 0 var(--dash-clr);
  z-index: 1;
}

.steps-completed:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fill-clr);
  border-radius: inherit;
  z-index: 0;
  clip-path: polygon(
    0 0,
    calc(var(--w) / var(--steps) * var(--steps-completed)) 0,
    calc(var(--w) / var(--steps) * var(--steps-completed)) 100%,
    0% 100%
  );
  transition: all calc(var(--base-dur) * var(--steps-completed)) ease-in-out;
}
